<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${visitor}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>Curriculum Vitae</h3>
    <p>Name: Tatag</p>
    <p>Birthplace/date: Jakarta,27 December 1997</p>
    <p>Address: Fasilkom UI</p>
    <ul title="Education History">
        <li>SD Al-Azhar</li>
        <li>SMP 109</li>
        <li>SMA 81</li>
    </ul>
    <p>
        I am a pretty lazy person, but I am responsible to my own responsibility. I am somewhat moody and can be a real <br>
        pain in the butt sometimes.
    </p>
</body>
</html>
